<h1 align="center" *ngIf="souv"><u>
  Affichage du Palmarès de {{souv.prenom}} {{souv.nom}}</u>
</h1>

 Affichage du Palmarès de

<br>
<br>

<!-- 
<h2 style = "color:blue">Tournois du Grand chelem</h2>
   
                    <ul>
                         <li>Melbourne: {{ joueur.mel }} </li>
                         <li>Roland Garros: {{ joueur.rog }} </li>
                         <li>Wimbledom: {{ joueur.wim }} </li>
                         <li>US open: {{ joueur.uso }} </li>        
                    </ul> 



<h2 style = "color:blue">Master</h2>
   
                    <ul>
                         <li>Master: {{ joueur.master }} </li>                            
                    </ul> 

<h2 style = "color:blue">Coupe Davis</h2>
   
                    <ul>
                         <li>Coupe Davis: {{ joueur.cpa }} </li>                            
                    </ul> 

<h2 style = "color:blue">Jeux olympiques</h2>
   
                    <ul>
                         <li>Jeux olympiques: {{ joueur.jo }} </li>                            
                    </ul> 

<h2 style = "color:blue">Nombre de tournois gagnés</h2>
   
                    <ul>
                         <li>Nombre de tournois gagnés: {{ joueur.nbtg }} </li>                            
                    -->




<br>
<br>
<br>
<br>




<div align="left">
             
              <button routerLink="/affichage-souv" class="bouton">Retour</button>
              
 </div>


















<!-- <h1 align="center" *ngIf="prenom && nom">
  Affichage du Palmarès de {{ prenom }} {{ nom }}
</h1> -->



<!-- <h1 align="center">Affichage du Palmarès de {{prenom}}  {{nom}} </h1> -->

<!-- {{prenom}}  {{nom}} -->














<!-- <p>affichage-jt2 works!</p>

{{idJt}}
 -->

































<!-- <p>affichage-souv2 works!</p> -->
