<h1 align="center" *ngIf="souv"><u>
  Affichage de {{souv.nom}} {{souv.prenom}}</u>
</h1>

<br>
<br>

<h2 style = "color:blue">Description de sa vie</h2>

  <div class=text-center>  

                 &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;         
                <label><B>&nbsp; &nbsp; &nbsp; &nbsp; Date de naissance :</B></label>           
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
                {{souv.date_naissance | date: "dd/MM/yyyy"}}
                <br> 
                <br>  
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;             
                <label><B>&nbsp; &nbsp; Date de décés :</B></label>           
                 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 {{souv.date_mort | date: "dd/MM/yyyy"}}               
                <br> 
                <br>  
                 &nbsp;             
                <label><B>&nbsp; &nbsp; &nbsp; &nbsp; Date de début de règne :</B></label>           
                &nbsp; &nbsp; &nbsp; 
                {{souv.date_debut_regne | date: "dd/MM/yyyy"}}              
                <br> 
                <br>  
                 &nbsp;&nbsp; &nbsp; &nbsp;             
                <label><B>&nbsp; &nbsp; &nbsp; &nbsp; Date de fin de règne :</B></label>           
                &nbsp; &nbsp; &nbsp; 
                {{souv.date_fin_regne | date: "dd/MM/yyyy"}}  
                <br> 
                <br> 
                <br> 
                <br> 
                
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      
                
                    <!-- <label ><B>&nbsp; &nbsp; &nbsp; &nbsp; Les faits marquants</B></label>    
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    -->
                      <label style="vertical-align: top">
                  
                         <B>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                            Les faits marquants :</B>
                      </label>   
                      &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      {{souv.faits_marquants}}   
                   <br>     
       </div>               

<br>
<br>
<br>
<br>

<div align="left">
             
              <button routerLink="/affichage-souv" class="bouton">Retour</button>
              
 </div>


















<!-- <h1 align="center" *ngIf="prenom && nom">
  Affichage du Palmarès de {{ prenom }} {{ nom }}
</h1> -->



<!-- <h1 align="center">Affichage du Palmarès de {{prenom}}  {{nom}} </h1> -->

<!-- {{prenom}}  {{nom}} -->














<!-- <p>affichage-jt2 works!</p>

{{idJt}}
 -->

































<!-- <p>affichage-souv2 works!</p> -->
